.LoginComponent {
    text-align: center;
}    
button{
    font-size: 20px;
    color: blue;
    padding: 16px 13px;
    width:100px;
    background-color: greenyellow;
    
    }

.WelcomeComponent{
    text-align: center;   
}
    
.ErrorComponent{
    text-align: center;   
}

.TodoListComponent{
    text-align: center; 
    font-size:60px;
    color:black ;
   
}
table{
    margin-left: auto;
  margin-right: auto;
  padding: 2%;
}
td{
    background-color: lightgrey;
    width: 220px;
    border: 15px solid green;
    padding: 20px;
    margin: 10px;
    text-size-adjust: 100px;
}
    