.LoginComponent {
    text-align: center;
}    
button{
    font-size: 20px;
    color: blue;
    padding: 16px 13px;
    width:100px;
    background-color: greenyellow;
    
    }

.WelcomeComponent{
    text-align: center;   
}
    
.ErrorComponent{
    text-align: center;   
}